*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
html,body{
    height: 100%;
}
body{
    background-color: #2f3957;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
body>a{
    padding:10px;
    color:#171717;
    border:2px solid #171717;
    border-radius: 10px;
    text-decoration: none;
}
body>a:hover{
    background-color: #171717;
    color:white;
}
h1{
    color:#171717;
}
h1>strong#iname{
    color:#000;
}